<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- tailwind cdn --}}
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <section>
        <div class="container">
            <form action="/user" method="post">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="ini username" required>

                <label for="email">email:</label>
                <input type="email" name="email" id="email" placeholder="ini@email.nya" required>

                <label for="password">password:</label>
                <input type="password" name="password" id="password" placeholder="ini password" required>

                <input type="submit" value="Save">
            </form>
        </div>
    </section>
</body>

</html>